.list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--space-2);
  color: var(--color-neutral-11);
  list-style: none;
}

.item {
}

.link {
  transition: color 200ms var(--ease);
}

.link:hover {
  color: var(--color-accent-11);
}

.selected {
  font-weight: 500;
  color: var(--color-accent-11);
}

.separator {
  color: var(--color-neutral-7);
}

.separator svg {
  aspect-ratio: 1;
  width: 20px;
}

.ellipsis {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-2);
}

.ellipsis svg {
  aspect-ratio: 1;
  width: 20px;
}
