.root {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  overflow: hidden;
  border-radius: var(--radius-3);
  background: var(--color-surface-2);
  color: var(--color-text-1);
}

.dialog {
  overflow: hidden;
  padding: 0;
  box-shadow: var(--shadow-4);
}

.inputWrapper {
  display: flex;
  align-items: center;
  border-bottom: var(--border-size-1) solid var(--color-surface-3);
  padding: 0 var(--space-5);
}

.searchIcon {
  margin-right: var(--space-4);
  height: 32px;
  width: 32px;
  flex-shrink: 0;
  opacity: 0.5;
}

.input {
  display: flex;
  height: 88px;
  width: 100%;
  background: transparent;
  padding: var(--space-5) 0;
  font-size: var(--font-size-2);
  outline: none;
}

.input::placeholder {
  color: var(--color-text-2);
}

.input:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.list {
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}

.empty {
  padding: var(--space-8) 0;
  text-align: center;
  font-size: var(--font-size-2);
}

.group {
  overflow: hidden;
  padding: var(--space-2);
  color: var(--color-text-1);
}

.groupHeading {
  padding: var(--space-4) var(--space-4) var(--space-2);
  font-size: var(--font-size-0);
  font-weight: 500;
  color: var(--color-text-2);
}

.separator {
  margin: 0 calc(var(--space-2) * -1);
  height: var(--border-size-1);
  background: var(--color-surface-3);
}

.item {
  position: relative;
  display: flex;
  cursor: default;
  gap: var(--space-4);
  align-items: center;
  border-radius: var(--radius-2);
  padding: var(--space-4) var(--space-4) var(--space-2);
  font-size: var(--font-size-2);
  outline: none;
}

.item[data-selected="true"] {
  background: var(--color-surface-3);
  color: var(--color-text-1);
}

.item[data-disabled="true"] {
  pointer-events: none;
  opacity: 0.5;
}

.shortcut {
  margin-left: auto;
  font-size: var(--font-size-0);
  letter-spacing: var(--font-letterspacing-4);
  color: var(--color-text-2);
}
