.overlay {
  position: fixed;
  inset: 0;
  z-index: 5;
  background: color-mix(in srgb, var(--color-neutral-12) 60%, transparent);
  backdrop-filter: blur(2px);
}

.overlay[data-state="open"] {
  animation: var(--animation-fade-in);
}

.overlay[data-state="closed"] {
  animation: var(--animation-fade-out);
}

.content {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 5;
  display: grid;
  transform: translate(-50%, -50%);
  gap: var(--space-4);
  border: var(--border-size-1) solid var(--color-neutral-7);
  background: var(--color-neutral-1);
  color: var(--color-neutral-12);
  padding: var(--space-7);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.3), 0 8px 16px rgba(0, 0, 0, 0.2);
  transition: all 200ms var(--ease);
  border-radius: var(--radius-4);
  min-width: 480px;
  max-width: 600px;
}

.content[data-state="open"] {
  animation: contentShow 200ms var(--ease);
}

.content[data-state="closed"] {
  animation: contentHide 200ms var(--ease);
}

.closeButton {
  display: flex;
  position: absolute;
  right: var(--space-6);
  top: var(--space-6);
  border-radius: var(--radius-1);
  background-color: transparent;
  color: var(--color-neutral-10);
}

.closeButton:hover {
  background-color: var(--color-neutral-4);
  color: var(--color-neutral-11);
}

.closeButton:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--color-neutral-6);
}

.closeButton:disabled {
  pointer-events: none;
}

.closeIcon {
  aspect-ratio: 1;
  width: 20px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
  text-align: center;
  text-align: left;
}

.footer {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  gap: var(--space-1);
}

.title {
}

.description {
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes contentHide {
  from {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  to {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
}
