.content {
  z-index: 5;
  width: 16rem;
  border-radius: var(--radius-3);
  border: var(--border-size-1) solid var(--color-neutral-6);
  background: var(--color-neutral-3);
  padding: var(--space-4);
  color: var(--color-neutral-11);
  box-shadow: var(--shadow-3);
  outline: none;
}

.content[data-state="open"] {
  animation: showContent 200ms var(--ease);
}

.content[data-state="closed"] {
  animation: hideContent 200ms var(--ease);
}

.content[data-side="bottom"] {
  animation-name: slideFromTop;
}

.content[data-side="top"] {
  animation-name: slideFromBottom;
}

.content[data-side="left"] {
  animation-name: slideFromRight;
}

.content[data-side="right"] {
  animation-name: slideFromLeft;
}

@keyframes showContent {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes hideContent {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.95);
  }
}

@keyframes slideFromTop {
  from {
    transform: translateY(-0.5rem);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideFromBottom {
  from {
    transform: translateY(0.5rem);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideFromLeft {
  from {
    transform: translateX(-0.5rem);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideFromRight {
  from {
    transform: translateX(0.5rem);
  }
  to {
    transform: translateX(0);
  }
}
